.sectionName {
    text-align: center;
    padding-top: 30px;
}

.search {
    display: flex;
    margin: 30px 50px;
}

.movieName {
    margin: 30px;
    opacity: 0.7;
}

.movieName:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.output {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 100px;
}

.subheading {
    text-align: center;
    padding-bottom: 50px;
}

.selected {
    color: rgb(51, 155, 253);
}

.recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}