* {
  margin: 0;
  scroll-behavior: smooth;
}
.app {
  min-height: 100vh;
  background-color: #071d41;
  color: white;
}
#header {
  display: flex;
  height: 100px;  
  background-color: #020934;
  vertical-align: middle;
}
#list {
  display: flex;
  list-style: none;
}
#navButtons {
  display: flex;
  justify-content: space-between;
}
.navButton {
  color: rgb(223, 223, 223);
  font-weight: 700;
  font-size: 20px;
  border: none;
  background-color: transparent;
  margin-right: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navButton:hover {
  cursor: pointer;
  color: rgb(6, 117, 221);
}
#logoText {
  margin-top: 30px;
  margin-left: 30px;
  color: rgb(223, 223, 223);
  margin-right: auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#logoText:hover {
  cursor: pointer;
}
#body {
  display: flex;
  height: 400px;
  background-color:#071d41;
}
#description {
  color: rgb(223, 223, 223);
  padding-top: 40px;
  font-size: 35px;
  margin-right: 10px;
  padding-right: 90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#body1 {
  flex-direction: column;
}
#sub {
  padding-top: 20px;
  color: rgb(223, 223, 223);
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#images {
  display: flex;
}
#image1 {
  flex-direction: column;
}
#rrrP {
  height: 370px;
  width: 370px;  
  padding-top: 30px;
  padding-left: 120px;
}
#jackP {
  width: 350px; 
  height: 370px; 
  padding-top: 30px;
  padding-left: 50px;
}
#movieB {
  margin-top: 20px;
  margin-left: 250px;
}
#tvB {
  margin-top: 20px;
  margin-left: 200px;
}
#footer {
  background-color:#020934;
  height: 250px;
  position: flex;
  width: 100%;
}
#quote {
  padding-top: 10px;
  font-size:  25px;
  text-align: center;
  color: rgb(223, 223, 223);
}
#author {
  text-align: right;
  padding-top: 10px;
  padding-right: 300px;
  color: rgb(223, 223, 223);
}
#copy {
  text-align: right;
}
#gitP {
  padding-top: 50px;
  width: 100px;
  height: 50px;
}
#credit {
  flex-direction: column;
  padding-top: 40px;
  color: rgb(223, 223, 223);
}
#lower {
  display: flex;
  justify-content: space-around;
}
#OTT {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding-top: 30px;
}
.logo {
  margin: 10px;
  border-radius: 50%;
}

#phrase {
  padding-top: 90px;
  padding-left: 160px;
  font-size: 35px;
}
#everything {
  flex-direction: column;
}
#streaming {
  color: red;
  font-weight: bold;
}
#matchmaking {
  color:rgb(65, 115, 79);
  font-weight: bold;
}