.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 5px;
  background-color: #282c34;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.imageWrap {
  flex-direction: column;
  display: flex;
  width: 190px;
  margin: 5px 5px;
  border-radius: 10px;
  position: relative;
}

.imageWrap:hover {
  cursor: pointer;
}

.media:hover {
  background-color: #35383f;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subtitle {
  display: flex;
  justify-content: center;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}